/dev/dvb/adapter[0-9]*/frontend[0-9]* 0660 media system
/dev/dvb/adapter[0-9]*/demux[0-9]*    0660 media system
/dev/dvb/adapter[0-9]*/dvr[0-9]*      0660 media system
/dev/dvb/adapter[0-9]*/net[0-9]*      0660 media system
/dev/px4video[0-9]*                   0660 media system
/dev/pxmlt5video[0-9]*                0660 media system
/dev/pxmlt8video[0-9]*                0660 media system
/dev/isdb6014video[0-9]*              0660 media system
/dev/isdb2056video[0-9]*              0660 media system
/dev/pxm1urvideo[0-9]*                0660 media system
/dev/pxs1urvideo[0-9]*                0660 media system
/dev/isdbt2071video[0-9]*             0660 media system
/dev/dma_heap/system                  0660 media system
