service vendor.maleicacid-tuner2 /vendor/bin/hw/android.hardware.tv.tuner-service.maleicacid2
    class hal
    user system
    group system media drmrpc
    interface aidl android.hardware.tv.tuner.ITuner/default
